<!DOCTYPE HTML>
<html>

<head>
	<title>Netflix_project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96x96.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="static/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Header -->
	<section id="header">
		<h1>Advanced Search</h1>
	</section>

	<!-- Search -->
	<section class="main style1 special">
		<div class="container">
				<div class="col-12 col-12-medium">
					{% if titles %}
					<h3>Go back to <a href="/">home <span class="icon solid minor fa-home"></span></a></h3>
					<table>
					  <tr style="font-weight: bold;">
						<th>TITLE</th>
						<th>DATE ADDED</th>
						<!--<th>Duration</th>-->
					  </tr>
						{% for item in titles %}
						  <tr style="text-align: left;">
							<td>{{ item.title }}</td>
							<td>{{ item.date_added }}</td>
							<!--<td>{{ item.duration }}</td>-->
						  </tr>
						{% endfor %}
					</table>
					{% else %}
					<div class="row gtr-150">
						<div class="col-12 col-12-medium">
							<h3>Please select an option:</h3>
							<form action="/search_advanced.html" method="post">
								<ul class="actions special">
									<li><input type="radio" id="movie" name="show" value="Movie">
										<label for="movie">Movie</label></li>
									<li><input type="radio" id="tv_show" name="show" value="TV Show">
										<label for="tv_show">TV Show</label></li>
									<li>
										<select name="time" id="time">
											<option value="">Duration</option>
											<option value="1 Season">1 Season</option>
											<option value="2 Seasons">2 Seasons</option>
											<option value="3 Seasons">3 Seasons</option>
											<option value="4 Seasons">4 Seasons</option>
											<option value="5 Seasons">5 Seasons</option>
											<option value="6 Seasons">6 Seasons</option>
											<option value="70 min">70 min</option>
											<option value="82 min">82 min</option>
											<option value="84 min">84 min</option>
											<option value="89 min">89 min</option>
											<option value="90 min">90 min</option>
											<option value="93 min">93 min</option>
											<option value="94 min">94 min</option>
											<option value="95 min">95 min</option>
											<option value="99 min">99 min</option>
											<option value="101 min">101 min</option>
											<option value="102 min">102 min</option>
											<option value="107 min">107 min</option>
											<option value="113 min">113 min</option>
											<option value="114 min">114 min</option>
											<option value="117 min">117 min</option>
											<option value="122 min">122 min</option>
											<option value="126 min">126 min</option>
											<option value="130 min">130 min</option>
											<option value="135 min">135 min</option>
											<option value="164 min">164 min</option>
											<option value="176 min">176 min</option>
										</select>
									</li>
									<li><input type="submit" value="Submit"></li>
								</ul>
							</form>
							<p>Go back to <a href="/">home <span class="icon solid minor fa-home"></span></a></p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<ul class="copyright">
			<li>&copy; Project database II</li>
			<li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
		</ul>
	</section>

	<!-- Scripts -->
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>
